/* About */
.about {
  background-color: var(--section-bg);
}
.about .container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .container .image {
  width: 60%;
}
.about .container .image img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 55px #fc00112f;
  cursor: pointer;
  animation: about-img-animated 1.5s linear infinite;
}
.about .container .image img:hover {
  animation-play-state: paused;
  box-shadow: none;
  opacity: 0.8;
}
@keyframes about-img-animated {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.about .container .text {
  width: 30%;
}
.about .container .text p {
  line-height: var(--line-height);
  border-bottom: 1px solid #777;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.about .container .text .social {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin: 20px 0;
}
.about .container .text .social i {
  background-color: var(--main-color);
  color: var(--white-color);
  width: 38px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 22px;
  cursor: pointer;
  border: 2px solid var(--main-color);
}
.about .container .text .social i:hover {
  background-color: transparent;
  color: var(--main-color);
}
.about .container .text .btn {
  padding: 8px 18px;
  font-size: 14px;
  text-transform: uppercase;
}
/* About Responsive */
@media (max-width: 991px) {
  .about .container {
    flex-direction: column;
    gap: 70px;
  }
  .about .container .image,
  .about .container .text {
    width: 100%;
  }
}
/* About */