/* Home */
.home {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.home::before {
  content: "";
  position: absolute;
  background-image: url(../../assets/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  z-index: -1;
}
.home::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  box-shadow: var(--home-shadow, 0 0 1000px #d62a3562);
}
.home .container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home h1 {
  font-size: 50px;
  color: transparent;
  background: linear-gradient(90deg, #ff3f4c, #ffd1d1);
  background-clip: text;
  margin-bottom: 20px;
}
.home p {
  font-size: 19px;
  line-height: var(--line-height);
  max-width: 800px;
  margin: 0 auto;
}
.home .btns {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  margin-top: 50px;
}
.home .socials {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  display: flex;
  padding-bottom: 50px;
}
.home .socials i {
  font-size: 25px;
  color: var(--main-color);
  cursor: pointer;
  background-color: rgb(0 0 0 / 50%);
  border-radius: 5px;
  padding: 10px 15px;
}
.home .socials i:hover {
  color: var(--white-color);
}
/* Home */