/* Footer */
footer {
  background-color: #15151f;
  padding: 50px 0 15px;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .box h2 {
  font-size: 40px;
  color: var(--main-color);
  cursor: pointer;
}
footer .container .box p {
  line-height: var(--line-height);
  max-width: 250px;
}
footer .container .box .icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}
footer .container .box .icons i {
  cursor: pointer;
  background-color: #1f1f36;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 20px;
}
footer .container .box .icons i:hover {
  color: var(--main-color);
}
footer .container .list-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  width: 50%;
}
footer .container .box h3 {
  margin-bottom: 20px;
  font-size: 22px;
}
footer .container .box ul li {
  position: relative;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  color: #ddd;
  font-size: 15px;
}
footer .container .box ul li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1.9px;
  background-color: var(--main-color);
  transition: 0.4s ease;
}
footer .container .box ul li:hover::before {
  width: 100%;
}
footer .container .box ul li:hover {
  color: var(--main-color);
}
footer .footer-text {
  text-align: center;
  margin: 50px 0 0;
  padding-top: 15px;
  border-top: 1px solid #333;
}
footer .footer-text b {
  color: var(--main-color);
  cursor: pointer;
}

@media (max-width: 991px) {
  footer .container {
    flex-direction: column;
    align-items: start;
  }
  footer .container .list-items {
    width: 100%;
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  footer .container .box {
    min-width: 200px;
  }
}
/* Footer */
