.returnHome {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 18px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--white-color);
    cursor: pointer;
    font-size: 18px;
    z-index: 99999;
}