:root {
  --main-color: #fc0010;
  --white-color: #fff;
  --section-bg: #101025;
  --body-bg: #050510;
  --line-height: 1.8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
  box-shadow: none;
  text-shadow: none;
  transition: 0.3s ease;
}
html {
  scroll-behavior: smooth;
  font-family: "Stack Sans Headline", sans-serif;
}
body {
  background-color: var(--body-bg);
  color: var(--white-color);
}
a {
  color: var(--white-color);
}
img,
iframe {
  max-width: 100%;
}
img:active {
  pointer-events: none;
}
::selection {
  background-color: var(--main-color);
  color: var(--white-color);
}
::-webkit-scrollbar {
  background-color: var(--body-bg);
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #d62a36;
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--main-color);
}
section:not(.home) {
  padding: 100px 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.main-heading {
  position: relative;
  font-size: 35px;
  text-align: center;
  width: fit-content;
  margin: 0 auto 50px;
  border-radius: 10px;
  cursor: pointer;
}
.main-heading span {
  color: var(--main-color);
}
.main-heading:hover {
  color: var(--main-color);
}
.main-heading:hover span {
  color: var(--white-color);
}
.btn {
  color: var(--white-color);
  font-weight: bold;
  padding: 12px 29px;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid var(--main-color);
  cursor: pointer;
}
.btn.fill,
.btn.trns:hover {
  color: var(--white-color);
  background-color: var(--main-color);
}
.btn.trns,
.btn.fill:hover {
  color: var(--main-color);
  background-color: transparent;
}